$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
) !default;


$position-values: (
  0: 0,
  50: 50%,
  60: 60%,
  100: 100%
) !default;

$min-widthh : 768px;

body{
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    
}





.header{
    color: blanchedalmond;
    background-color: #7f5a83;
    background-image: linear-gradient( #7f5a83 0%, #0d324d 74%);
    align-content: center;
    z-index: 1;
    position: sticky;
    top: 0;

    #logo{
        padding-top: 13px;
        padding-left: 5%;
    }

    #logo1{
        position: absolute;
        top:0;
        left: 45%;

    }
    

    .topNav{
        overflow: hidden;
        position: relative;
        

        .topNavLinks{
            text-align: center;
            border-top: 1px solid black;
            animation: slide-down 1.5s forwards;

        }

        @keyframes slide-down {
            from{
                transform: translateY(300px) scale(1);
                opacity: 0;
            }
        
            to{
                transform: translateY(0);
        
            }
        }
            

        a {
            padding: 14px 16px;
            text-decoration: none;
            font-size: 17px;
            display: block;
            color: blanchedalmond;
            transition: .4s;

            &:hover{
                padding-left: 40px;
            }
          }
    } 

    

   

    .ham-icon{
        position: absolute;
        top:0;
        right:0;
        padding-right: 5%;
        
    }
    .ham-icon-side{
        position: absolute;
        top:0;
        right:0;
        padding-right: 5%;
    }
   
}

@keyframes fadeMe {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

.sidebar {
    position: fixed;
    width: 25%;
    height: 100vh;
    background: salmon;
    font-size: 0.65em;
    z-index: 1;
    right: 0;
    animation: slide-in 1s forwards;

    @keyframes slide-in {
        from{
            transform: translateX(300px) scale(1.1);
            opacity: 0;
        }
    
        to{
            transform: translateX(0);
    
        }
    }

    


    .sideNav{
        position: relative;
        width: 100%;
        margin: 0 auto;
        text-align: center;
        font-weight: bold;
        border-bottom: 1px solid black;
        
        h1{
            font-size: 22px;
            color: white;
            text-align: center;
            line-height: 70px;
            background-color: #042331;


        }
        a{
            padding: 14px 16px;
            text-decoration: none;
            font-size: 20px;
            line-height: 70px;
            display: block;
            color:white;
            border-top: 2px solid rgba(255,255,255, .1);
            
            transition: .4s;


            &:hover{
                padding-left: 40px;
            }
        }

        
    }


  }
 
 
@media screen and (max-width: 768px) {

      // here I am trying to close off the side bar while the screen size is a certain width. To prevent two nav bars being open at the same time!! Just using css this time.

    @if $min-widthh {
        .sidebar{
            display: none;
        }
      } 

    
    .header{
    
        .ham-icon-side{
            background:  red;
          display: none;
        }

    }
  }

@media screen and (min-width: 768px) {

    .header{
    
        .ham-icon{
          display: none;
        }

    }
  }


  .top-section{
      background-color: black;
      height: 45vh;
      width:100%;
      background-image: url("https://images.unsplash.com/photo-1556922404-e13d9ff95de8?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTgzfHxjb21wdXRlcnN8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      align-content: center;
      position: absolute;

      .top-box{
          position: relative;
          top: 30%;
          padding-left: 5%;
      }
      


      h1{
        font-family: 'Slabo 27px', serif;
        font-size: 50px;
        line-height: 50px;
        
        color: blanchedalmond;
      }
      
      h5{
          color:#6e4d72;
      }
      button{
          background-color: blanchedalmond;
          font-size: 22px;
          transition: all .4s ease-in-out;
          box-shadow: black;
          padding: 8px;

          &:hover {
            transform: scale(1.1);
        }
      }
      
  }