.skills{
    background-color: #6e4d72;
    width: 100%;
    padding: 40px;
  
  
  
    h1{
      padding-left: 5%;
      color: rgb(54, 44, 44);
  
    }
    h2{
      color:rgb(231, 184, 112) ;
    }
    li{
      color: blanchedalmond;
    }
  
    li, h2{
      text-align: center;
      list-style-type: none;
    }
  }
  
  
  @media screen and (min-width: 750px) {
  
    .skills-div{
      display: flex;
      justify-content: space-evenly;
  
      ul{
        transition: all .6s;
  
        &:hover{
          transform: translateY(-20px);
        }
      }
    }
  
    #tech-h1{
      text-align: center;
    }
  }

  .projects-heading{
      width:100%;
      background-color: #9b93be;
      margin-left:5%;
      margin-top:1em;
      padding:1em;
      &__header{
        padding:0.2em;
        font-size: 4em;
        text-transform: capitalize;
        color: rgb(231, 184, 112);
        background-clip: text;
      }


  }

  .projects-footer{
    width:100%;
    background-color: #9b93be;
    padding-right:5%;
    text-align: right;
    margin-top:1em;
      padding:1em;

    &__foot{

      font-size: 4em;
        text-transform: capitalize;
        color: rgb(231, 184, 112);
        background-clip: text;

    }
  }

  .more-work{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.3em;
        padding:2em;
        margin: auto;
        width: 50%;
    .github{
        height: 2.5em;
        text-transform: capitalize;
        font-size: 1.3em;
        border: none;
        background: #000;
        color: #fff;
        cursor: pointer;
        padding: 0.5em 1.5em ;
    }
    .pens{

      height: 2.5em;
      text-transform: capitalize;
      font-size: 1.3em;
      border: none;
      background: #000;
      color: #fff;
      cursor: pointer;
      padding: 0.5em 1.5em ;

    }
  }

  @media screen and (max-width: 800px) {
    .projects-heading{
    
      &__header{
        font-size: 2.5em;
        padding:0;
      }
    }

    .projects-footer{
      
  
      &__foot{
  
        font-size: 2.5em;
          
  
      }
    }
  }
  // @keyframes grow {
  //   0% {
  //     transition: all ease-in-out 2s;
  //     transform: translatex(1000%);
  //     display: none;
  //     opacity: 0;
      
  //   }
  //   1% {
  //     display: block;
  //     opacity: 0;
  //     transform: scale(0);
  //   }
  //   100% {
  //     opacity: 1;
  //     transform: scale(1);
  //     transition: all ease-in-out 2s;
  //     transform: translatex(0);
  //     color:red;
  //   }
  // }
  .projects{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.5em;
        padding:2em;
        background-color: #9b93be;

  

      &__card{

        position: relative;
        padding:1em;
        margin-bottom:1em;

      }
      &__block{
        display:block;
      }

      &__content{
      
        padding:2em;
        margin: 10em;
        text-align: center;
        color: #fff; 
        margin: auto;
        // transition: all ease-in-out 2s;
        //       transform: translatex(1000%);

              // display:none;
        // animation: grow 2s ease-in-out;;
       

    }

     
    &__title{
        font-size: 3em;
        text-transform: capitalize;
        text-align: center;
        font-weight: 300;
        color: black;
    }
    &__info{
        margin: 3em;
        font-size: 20px;
        line-height: 2em;
        text-align: center;
        color: black;
    }

    .projects-btn-div{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }
    
    .projects-btn{
        height: 40px;
        text-transform: capitalize;
        font-size: 18px;
        border: none;
        background: #000;
        color: #fff;
        cursor: pointer;
        padding: 0.5em 1.5em ;
    }
    
    .projects-btn.live{
        background: none;
        border: 2px solid #fff;
    }
    

    .image{
        transition: all ease-in-out .5s;

    }

    .projects__card:hover {
        // filter: blur(20px);
        .projects__content{
          // display:block;
          // transition: all ease-in-out 2s;
          // transform: translatex(0);


        }
    }
    
    .projects__card:hover .projects__content{
      // transform: translateY(-50%);
      // display: block;

      // display:block;
      // display:block;
      // transition: all ease-in-out 2s;
      // transform: translatex(0);
    }
  }


  @media screen and (max-width: 800px) {

    .projects{
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 1.5em;
      padding:2em;



    &__card{

      position: relative;
      padding:1em;
      margin-bottom:0;
      width: 100%;

    }

    &__content{
    
      padding:2em;
      margin: 10em;
      // text-align: center;
      color: #fff; 
      margin: auto;
      display:block;    
      transform: translatex(0);
 

  }

}
  
  }
  