.skills{
    background-color: #6e4d72;
    width: 100%;
    padding: 40px;
  
  
  
    h1{
      padding-left: 5%;
      color: rgb(54, 44, 44);
  
    }
    h2{
      color:rgb(231, 184, 112) ;
    }
    li{
      color: blanchedalmond;
    }
  
    li, h2{
      text-align: center;
      list-style-type: none;
    }
  }
  
  
  @media screen and (min-width: 750px) {
  
    .skills-div{
      display: flex;
      justify-content: space-evenly;
  
      ul{
        transition: all .6s;
  
        &:hover{
          transform: translateY(-20px);
        }
      }
    }
  
    #tech-h1{
      text-align: center;
    }
  }

  .head{
      width:100%;
      background-color: #9b93be;
      .projects__header{
        font-size: 4.5em;
        background-color: #9b93be;
        text-transform: capitalize;
        text-align: center;
        color: #b3a2a2;
        background-clip: text;
      }


  }

  
  .projects{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.5em;
        padding:3.5em;
        background-color: #9b93be;

  

      &__card{

        position: relative;
        padding:1em;

      }

      &__content{
      
        padding:2em;
        text-align: center;
        color: #fff;        transform: translateY(-90%);


        transition: all ease-in-out .7s;
        display: none;
       
 
    }

     
    &__title{
        font-size: 50px;
        text-transform: capitalize;
        text-align: center;
        font-weight: 300;
        color: black;
    }
    &__info{
        margin: 40px;
        font-size: 20px;
        line-height: 30px;
        text-align: center;
        color: black;
    }

    .projects-btn-div{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }
    
    .projects-btn{
        height: 40px;
        text-transform: capitalize;
        font-size: 18px;
        border: none;
        background: #000;
        color: #fff;
        cursor: pointer;
        padding: 0.5em 1.5em ;
    }
    
    .projects-btn.live{
        background: none;
        border: 2px solid #fff;
    }
    

    .image{
        transition: all ease-in-out .5s;

    }

    .projects__card:hover .image{
        filter: blur(20px);
    }
    
    .projects__card:hover .projects__content{
        transform: translateY(-90%);

        display: block;
    }
  }
  